/.cache/
/backup
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/treesitter-grammers
projectile-bookmarks.eld
custom.el
ido.*
.lsp-session*
projects
recentf
.dap-breakpoints
.mc-lists.el
eclipse.jdt.ls
request
workspace
lsp-bridge
flycheck_init.el